<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.df.water.service.dao.BannerDao">
    <resultMap id="bannerResultMap" type="Banner">
        <id column="id" javaType="long" jdbcType="BIGINT" property="id" />
        <result column="type" javaType="integer" jdbcType="TINYINT" property="type" />
        <result column="code" javaType="string" jdbcType="VARCHAR" property="code" />
        <result column="title" javaType="string" jdbcType="VARCHAR" property="title" />
        <result column="remark" javaType="string" jdbcType="VARCHAR" property="remark" />
        <result column="image" javaType="string" jdbcType="VARCHAR" property="image" />
        <result column="url" javaType="string" jdbcType="VARCHAR" property="url" />
        <result column="show_order" javaType="integer" jdbcType="SMALLINT" property="showOrder" />
        <result column="is_show" javaType="boolean" jdbcType="TINYINT" property="show" />
        <result column="need_login" javaType="boolean" jdbcType="TINYINT" property="needLogin" />
        <result column="valid_flag" javaType="boolean" jdbcType="TINYINT" property="validFlag" />
        <!-- jdbcType不能为datetime, iBatis不支持, datetime与timestamp -->
        <result column="create_time" javaType="date" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" javaType="date" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="searchSql">
        id, type, code, title, remark, image, url, show_order, is_show, need_login, valid_flag, create_time, update_time
    </sql>

    <select id="listBannersByType" parameterType="integer" resultMap="bannerResultMap">
        select
                <include refid="searchSql" />
        from
                e_banner
        where
                type = #{type, jdbcType=TINYINT}
    </select>

</mapper>